body
{
	width: 100%;
	height: 100%;	
}
nav {
    padding: 5px;
    background: #F44336;
}
.cinema-body
{
	background: url('../img/img2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.logo-img 
{
    width: 70px;
    height: 60px;
    filter: grayscale(10);
    margin-left: 20px;
}
.jumbotron 
{
    background: url(../img/img1.jpg);
    background-size: 102% 90%;
    background-repeat: no-repeat;
    background-position: center;
}
.welcome-title
{
	color: white;
	margin-right: 10px;
}
.jumbotron-img
{
	margin-top: 20px;
	width: 100px;
	height: 100px;
}
.jumbotron-text
{
	font-size: 16px;
	color: white;
	margin-top: 20px;
}
.redes-sociales
{
	margin-top: 20px;
}
.img-social
{
	width: 40px;
	height: 40px;
}
.titulo-text
{
	font-size: 18px;
	font-weight: bolder;
	color:white;
	padding: 10px;
}
.movies-row
{
	background: rgba(0,0,0,0.8);
}
.movie-title
{
	color:white;
	text-align: center;
}
.img-movies
{
	height: 260px;
	padding: 6px;
	margin-top: 22px;
}

.titulo-cartelera {
    background: #F44336;
    border: 1px solid #F44336;
}
.services-text
{
	color: white;
}
@media (min-width: 478px)
{
	h2
	{
		font-size: 22px;
	}
	.titulo-cartelera
	{
		font-size: 15px;
	}
	.jumbotron
	{
		min-height: 400px;
	}
	.jumbotron-img
	{
		margin-top: 20px;
	}
}
.input-element
{
	width: 100%;
	height: 28px;
	padding: 10px;
	color: white;
	background: rgba(255,255,255, 0.4);
	border-radius: 4px;
	border: 0;
	margin-top: 5px;
}
.input-element::placeholder {
    color: rgba(255,255,255,0.5);
    font-weight: bold;
}
.label-class
{
	color: white;
	font-size: 13px;
	margin-right: 10px;
}
.btn-save
{
	background: rgba(255,255,255, 0.95);
	color: black;
	width: 40%;
}
.user_data {
	color: white;
	text-align: center;
	border-bottom: 1px solid white;
	margin-bottom: 10px;
}